---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";

import { 
    SUBTITLE, 
    TITLE, 
    NOTE
} from "../config";

const links = await Astro.glob("./links/*.md");
---

<Layout title={TITLE + " - " + SUBTITLE}>
	
    <Header subtitle={SUBTITLE} title={TITLE} note={NOTE} />

    <section>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-3xl">
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    {
                        links.map((link) => (
                            <Link
                                title={link.frontmatter.title}
                                href={link.frontmatter.href}
                            />
                        ))
                    }
                </div>
            </div>
        </div>
    </section>
	<Footer title={TITLE} />

</Layout>
